body {
    color: white;
    background-color: black;
    font-family: monospace;
    font-size: 20px;
}

.container {
    height: 100%;
    border: 3px solid maroon;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    grid-template-rows: 62px 36px 36px auto;
    grid-gap: 3px;
}

/* bank sets, banks */
.lb-bank-sets-label, .lb-banks-label {
    align-self: center;
}

.lb-bank-sets, .lb-banks, .lb-header {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(25, 1fr);
    border: 1px solid maroon;
    background-color: black;
}

.lb-bank-set-button, .lb-bank-button {
    color: orange;
    background-color: black;
    width: 55px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    float: left;
    margin: 10px;
}

/* sidebar */
.lb-sidebar {
    grid-column: span 5;
    align-content: start;
    border: 1px solid maroon;
}

#lb_max_fps, #lb_volume_scale, #lb_fade_delay,
#lb_auto_sequences_range, #lb_auto_colormaps_range, #lb_auto_images_range, #lb_auto_webcams_range, #lb_trackball {
    text-align: center;
}

#lb_auto_sequences_label, #lb_auto_colormaps_label, #lb_auto_images_label, #lb_auto_webcams_label {
    border-top: 5px solid white;
    margin-top: 10px;
}

#lb_auto_sequences_mode, #lb_auto_colormaps_mode, #lb_auto_images_mode, #lb_auto_webcams_mode {
    margin-top: 10px;
}

.lb-threed-parameters {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#lb_boundary_button, #lb_randomize_rotations {
    margin-left: 10px;
    color: white;
}

/* content */
.lb-content {
    border: 1px solid maroon;
    grid-column: span 13;
    background-color: black;
}

.lb-content-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

#lb_uptime {
    text-align: center;
}

/* auto modes */
.lb-auto-modes {
    border: 1px solid maroon;
    grid-column: span 2;
}

#lb_random_schemes, #lb_random_sequences, #lb_auto_colormaps, #lb_auto_images {
    width: 150px;
    height: 30px;
}

#lb_random_stop {
    width: 50px;
    height: 30px;
}

/* current sequence */
.lb-current {
    border: 1px solid maroon;
}

#lb_sequence_label {
    text-align: center;
}

#lb_sequence_name {
    text-align: center;
    background-color: black;
}

#lb_sequence {
    list-style-image: url('/ui/static/icons8-drag-reorder-24.png');
}

.lb-layer-mode, .lb-string-list {
    color: white;
    background-color: black;
}

.lb-lens {
    color: yellow;
    background-color: black;
    font-weight: bold;
    margin: 4px;
}

/* current colormap */
.lb-colormap {
    border: 1px solid maroon;
}

#lb_colormaps_shortcuts, #lb_images_shortcuts {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#lb_colormap_row {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

#lb_colormap_w3c {
    width: 256px;
}

#lb_colormap_w3c {
    display: grid;
    grid-template-columns: repeat(256, 1fr);
}

/* current image */
.lb-image {
    border: 1px solid maroon;
}

/* current sequence plugins */
.lb-sequence {
    border: 1px solid maroon;
}

/* selected plugin */
.lb-selected {
    grid-column: span 2;
}

.lb-parameters {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lb-parameter-name {
    color: blue;
    font-weight: bold;
    text-align: right;
    margin-right: 10px;
}

.lb-parameter-value {
    color: orange;
    font-weight: bold;
    text-align: center;
}

/* plugins */
.lb-plugins {
    border: 1px solid maroon;
    background-color: black;
    grid-column: span 7;
    display: grid;
    grid-template-columns: 1fr;
    align-self: start;
}

#lb_plugins_label {
    text-align: center;
}

.lb-plugins-tab {
    text-align: center;
    float: left;
    margin: 2px;
    border: none;
    border-bottom: 1px solid orange;
}

#lb_plugins {
    text-align: center;
}

.lb-plugin {
    color: white;
    background-color: black;
    width: 250px;
    margin: 4px;
}

/* header */
.lb-header-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 3fr 5fr 5fr 5fr 5fr 1fr 500px 1fr 1fr 1fr;
    align-content: center;
}

#lb_plugins_button, #lb_settings_button, #lb_shutdown_button {
    background-color: black;
    margin-right: 5px;
}

#lb_tooltips, #lb_controls {
    margin-left: 10px;
}

#lb_host, #lb_port {
    margin-left: 10px;
    width: 110px;
}

#lb_websocket_status, #lb_settings {
    margin: 5px;
}

#lb_shutdown_button {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#lb_websocket_status {
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
}

#lb_host, #lb_port {
    margin-top: 16px;
}

#lb_host, #lb_port, .lb-tooltips, .lb-controls {
    align-self: center;
}

.lb-tooltips, .lb-controls {
    width: 100px;
}

.lb-support, .lb-wiki {
    align-self: center;
    margin-top: 2px;
    margin-left: 4px;
    margin-right: 6px;
}

.lb-support {
    width: 215px;
}

.lb-paypal {
    align-self: center;
    margin-top: 4px;
    margin-left: 40px;
}

.lb-copyright {
    text-align: right;
    align-self: center;
}

.lb-sidebar {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: start;
}

.lb-label {
    color: blue;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    padding-right: 10px;
}

.lb-value {
    color: orange;
    font-weight: bold;
}

.lb-button {
    background-color: black;
    margin: 5px;
}

.lb-picker {
    color: lime;
    font-weight: bold;
}

.lb-navigation {
    color: yellow;
    background-color: black;
    font-weight: bold;
}

a:link.lb-patreon, a:visited.lb-patreon {
    color: black;
    background-color: orange;
}


/* Connecting... */
.lb-blink {
    width: 220px;
    height: 50px;
    /* background-color: #342ab8; */
    padding: 10px;
    text-align: center;
    line-height: 50px;
}

#lbConnecting {
    font-size: 30px;
    /* font-family: cursive; */
    color: #fff;
    animation: lb-blink 2s linear infinite;
}

@keyframes lb-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}
