body {
    color: white;
    background-color: black;
}


h2 {
    color: blue;
}


b {
    color: lime;
}

/* main container */
.lb-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}


/* options */
.lb-options-container {
    width: 140px;
}


.lb-option {
    width: 100%;
    height: 30px;
    margin: 2px;
    font-weight: bold;
    background-color: #bbb;
}


.lb-selected-option {
    color: blue;
    background-color: #bbb;
}


.lb-unselected-option {
    color: black;
    background-color: #bbb;
}


/* plugins */
.lb-help {
    font-size: 1.3em;
}

.lb-plugins-container {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    margin-left: 10px;
}


.lb-plugin-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.lb-favorite-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.lb-favorite {
    margin-left: 10px;
    margin-right: 4px;
}


.lb-favorite-message {
    color: lime;
    font-weight: bold;
    font-size: 1.2em;
}


.lb-plugin {
    margin: 2px;
    width: 240px;
    color: black;
    background-color: #aaa;
}


/* sequence */
.lb-sequence-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.lb-label {
    color: blue;
    text-align: right;
    font-weight: bold;
    margin-right: 4px;
}


.lb-value {
    color: orange;
    font-weight: bold;
}


.lb-plugin-name {
    color: yellow;
}


.lb-param {
    color: lime;
}


.lb-param-value {
    color: magenta;
}

/* video */
.lb-video-container {
    width: 960px;
    height: 540px;
}


#lbMessage, #lbVideoSelect {
    margin-left: 10px;
    height: 40px;
}


#lbDemos {
    font-weight: bold;
}
